.aboutme {
  margin-top: 40px;
  width: 80%;
  color: antiquewhite;
}
.aboutsection {
  margin-top: 16px;
}
.account-logos {
  height: 80px;
  margin: 0 auto;
}
* {
  background-color: rgb(78, 85, 100);
}

img {
  margin-bottom: 12px;
}

p {
  font-size: large;
}
