.form-card {
  background-color: gray;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  border-radius: 4px;
}
.account-logos {
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

.form-titles {
  background-color: gray;
}

.error-text {
  background-color: gray;
}
